<!-- <section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col mb-5">
              <div class="card h-100" *ngFor="let pro of pro">
                <mat-grid-list cols="2" rowHeight="3:1" >
                    <h1 class="p-4 text-center" style="font-family: 'Times New Roman', Times, serif;" style="background-color:rgba(210,210,210,0.5)">{{pro.pcategory}} {{pro.pname}}</h1>
                    <mat-grid-tile [rowspan]="3" style="background-color:skyblue"><img class="card-img-top" src="{{pro.pimg}}" alt="..." height="100%"/></mat-grid-tile>
                    <mat-grid-tile style="background-color:skyblue">
                        <div style="margin-left:10%;" id="features">
                            <h3>Product Features : </h3>
                            <div>{{pro.pfeatures}}</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile style="background-color:skyblue;" class="justify-content-center">Product Price : {{pro.price}}</mat-grid-tile>
                    <mat-grid-tile style="background-color:skyblue" class="justify-content-center">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <button class="btn btn-outline-dark mt-auto btn-primary text-white ps-4 pe-4">Buy Now <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                                <button class="btn btn-outline-dark mt-auto btn-secondary text-white ms-3" >Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                            </div>
                            <div class="text-center"></div>
                        </div>
                    </mat-grid-tile>
                  </mat-grid-list>
              </div>
            </div>
        </div>
    </div>
</section> -->


<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col mb-5">
              <!-- <div class="card h-25" *ngFor="let pro of pro">
                  <div style="width: 40%;"><img class="card-img-top" src="{{pro.pimg}}" alt="..." height="50%" width="40%"   /></div>
                  <div style="width:40%;">
                    <h1 class="p-4 text-center" style="font-family: 'Times New Roman', Times, serif;" style="background-color:rgba(210,210,210,0.5)">{{pro.pcategory}} {{pro.pname}}</h1>
                    </div>
                  <div style="width:20%;"></div>
              </div> -->
              <div class="card mb-3" style="font-family: 'Times New Roman', Times, serif;background-color:rgba(210,210,210,0.5)" *ngFor="let pro of pro">
                <div class="row g-0">
                 <div></div>
                  <div class="col-md-2">
                    <img src="{{pro.pimg}}" class="img-fluid rounded-start" style="width:100%;height:100%" alt="...">
                  </div>
                  
                  <div class="col-md-9">
                    <div class="card-body">
                      <h3 class="card-title text-center fs-5 fw-bolder">{{pro.pcategory}} {{pro.pname}}</h3>
                      <p class="card-text fs-6" style="line-height:30px">{{pro.pfeatures}}</p>
                      <div style="width:45%;float:left"> 
                            Price : $ {{pro.price}}<br/>
                            <p class="card-text">
                                <small class="text-muted">
                                    <div class=" small text-warning mb-2">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                </small>
                            </p>
                        </div>
                        <div style="width:30%;float:left"><button class="btn btn-outline-dark mt-auto btn-primary text-white">Buy Now <i class="fa fa-shopping-cart" aria-hidden="true"></i></button></div>
                    </div>
                  </div>
                  <div class="col-md-1" ><button class="btn btn-primary  ms-2 mt-2" (click)="delete(pro.pid)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button></div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>