<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
     <div class="carousel-item  active" data-bs-interval="5000">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/katariy/BAU/OP_Dec/D24582943_IN_WL_Category_Page_1500x400.gif" class="d-block w-100" style="height:400px;" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_663974538_353364.jpg" class="d-block w-100" style="height:400px"  alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Electronics/Clearance/Clearance_store_1500x300.jpg" class="d-block w-100" style="height:400px;"  alt="...">
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

 <app-all-products></app-all-products>